* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    


}
body{
    display: flex;
    align-items: center;
    justify-content: center;
	margin:0;
	padding:0;
	font-family: "Poppins", sans-serif;
	font-size:20px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}

/*old body*/
/*body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(20deg, #1E90FF 0%, #87CEEB); /*DodgerBlue	#1E90FF, 
    display: flex;
    justify-content: center;
    align-items: center;

}
*/

.container {
    background-color: #fefefa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    margin-top: 50px;
   

}

.header {
    background-color: #f0f0f0;
    padding: 20px;
    cursor: default;
    
}

.form {
    padding: 20px;
   

}

.form_control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form_control label {
    margin-bottom: 5px;
    display: inline-block;
}

.form_control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.form_control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;

}

.form_control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: #2980b9 ;
    border: 2px solid #2980b9 ;
    color: #FFF;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

/*Error and Success*/

.form_control.success input {
    border-color: #2ecc71;
}

.form_control.error input {
    border-color: #FF0000;
}

.form_control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form_control.error i.fa-exclamation-circle{
    color: #FF0000;
    visibility: visible;
}
.form_control.error small{
    color: #FF0000;
    visibility: visible;
}

::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}